# Ignore Latex Files
*.toc
*.synctex.gz
*.synctex.bbl
*.synctex.blg
*.log
*.out
*.aux
*.bbl
*.blg
bin/
*.eps
*.kate-swp
*.dvi
*.fdb_latexmk
*.fls
*.pdf

# Ignore VScode customizations
.vscode/

# Ignore IntelliJ Idea customizations
.idea/
out/

# Ignore MacOS file for directories
.DS_Store